.DS_Store
.git
*~
*.log
*.md
*.pyc
*.swp
*.cfg
.*
importerjson.jar
data_vcsdev_to_dev.json
lib/
controller/
daemon.py
exporter_daemon.py
deployer.py
dropins/*
export/
kwaliteitsmetingen/
project-git-repos/
quality-report-data/
quality-report-definition/
quality-report-history/
src/*/
src/pip-delete-this-directory.txt
