.DS_Store
*~
*.pyc
*.swp
env
*.cfg
*.log
deployment.json
key-*
secrets.json
!.isort.cfg
importerjson.jar
data_vcsdev_to_dev.json
metric_base_names.json
lib/
certs/*.crt
dropins/*/
export/
filter.txt
kwaliteitsmetingen/
project-git-repos/
quality-report-data/
quality-report-definition/
quality-report-history/
src/*/
src/pip-delete-this-directory.txt
