# Environment files, editors, OS-specific files, compiled files
.DS_Store
*~
.idea
*.pyc
*.swp
env
env.*
*.cfg
!.isort.cfg
!setup.cfg
*.yml
!.github/workflows/*.yml
*.log
*.xml

# Typing coverage
.mypy_cache/
mypy-report/

# Pylint
pylint-report.txt

# Unit tests and coverage
.coverage
htmlcov/
test-reports/

# Importer distribution
importerjson.jar
data_vcsdev_to_dev.json
README.TXT
lib/

# Agent distribution, generated and retrieved files
certs/*.crt
dropins/*/
export/
project-git-repos/
secrets.json
secrets.*.json
!test/sample/secrets.json
tracker/
update/
!schema/*/*.json

# maintenance/filter-sourcecode.sh
bfg.jar
filter.txt

# Pip installation
src/*/
src/pip-delete-this-directory.txt

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
