.DS_Store
*~
*.pyc
*.swp
*.cfg
secrets.json
!.isort.cfg
importerjson.jar
data_vcsdev_to_dev.json
lib/
certs/*.crt
dropins/*/
export/
kwaliteitsmetingen/
project-git-repos/
quality-report-data/
quality-report-definition/
quality-report-history/
src/*/
src/pip-delete-this-directory.txt
