[$SOURCE_HOST]
env=$SOURCE_CREDENTIALS_ENV
username=$SOURCE_USERNAME
password=$SOURCE_PASSWORD
gitlab_token=$SOURCE_GITLAB_TOKEN
tfs=$SOURCE_TFS
group=$SOURCE_GITLAB_GROUP
from_date=$SOURCE_FROM_DATE
tag=$SOURCE_TAG
