[$SOURCE_HOST]
env = $SOURCE_CREDENTIALS_ENV
username = $SOURCE_USERNAME
password = $SOURCE_PASSWORD
protocol = $SOURCE_PROTOCOL
web_port = $SOURCE_WEB_PORT
github_api_url = $SOURCE_GITHUB_API
github_token = $SOURCE_GITHUB_TOKEN
github_bots = $SOURCE_GITHUB_BOTS
gitlab_token = $SOURCE_GITLAB_TOKEN
tfs = $SOURCE_TFS
group = $SOURCE_GITLAB_GROUP
from_date = $SOURCE_FROM_DATE
tag = $SOURCE_TAG
strip = $SOURCE_STRIP
unsafe_hosts = $SOURCE_UNSAFE
skip_stats = $SOURCE_SKIP_STATS

[$DEFINITIONS_HOST]
env = $DEFINITIONS_CREDENTIALS_ENV
username = $DEFINITIONS_USERNAME
password = $DEFINITIONS_PASSWORD
unsafe_hosts = $DEFINITIONS_UNSAFE
