[$SOURCE_HOST]
env=$SOURCE_CREDENTIALS_ENV
username=$SOURCE_USERNAME
password=$SOURCE_PASSWORD
github_api_url=$SOURCE_GITHUB_API
github_token=$SOURCE_GITHUB_TOKEN
gitlab_token=$SOURCE_GITLAB_TOKEN
tfs=$SOURCE_TFS
group=$SOURCE_GITLAB_GROUP
from_date=$SOURCE_FROM_DATE
tag=$SOURCE_TAG

[$DEFINITIONS_HOST]
env=$DEFINITIONS_CREDENTIALS_ENV
username=$DEFINITIONS_USERNAME
password=$DEFINITIONS_PASSWORD
gitlab_token=$DEFINITIONS_GITLAB_TOKEN
