# Install dependencies for all scripts and modules
-r requirements-jenkins.txt
# Linter dependencies
pylint
# Typing/mypy dependencies
mypy<0.981
types-python-dateutil
types-requests>=2.27.27
types-PyYAML
