# Pip requirements file
# gatherer.config
urlmatch
# gatherer.jira
git+https://github.com/pycontribs/jira.git@8306c3d3fd03eec7749d9d288b5c8e8a7dde9b28#egg=jira
# gatherer.git
gitpython>=2.1.8
PyGithub
python-gitlab
# gatherer.request
requests
requests_ntlm
ordered-set
# gatherer.project_definition
mock
git+https://github.com/wekan/wekan-python-api-client.git@master#egg=wekanapi&subdirectory=src
quality_report<=1.79.3; python_version < '3.0'
quality_report>=2.21.0; python_version >= '3.0'
svn>=0.3.45
enum34; python_version < '3.4'
# gatherer.utils
python-dateutil>=2.7.5
# gatherer.database
pymonetdb
# gatherer.files
pyocclient
# gatherer.salt
bcrypt
# Python compatibility
future
configparser
# bigboat_to_json.py
bigboat
# generate_key.py
sshdeploy
# scraper.py, deployer.py
cherrypy
