# Pip requirements file
# jira_to_json.py
jira
# git_to_json.py
gitpython
# history_to_json.py
requests
requests_ntlm
# metric_options_to_json.py
python-dateutil
mock
quality_report<=1.79.3; python_version < '3.0'
quality_report>=1.80.0; python_version >= '3.0'
svn
enum34; python_version < '3.4'
# gitlab_to_json.py
-e git+http://github.com/lhelwerd/python-gitlab3.git@json-import#egg=gitlab3
# generate_key.py
sshdeploy
# retrieve_update_trackers.py
pymonetdb
# retrieve_dropins.py
pyocclient
# Python compatibility
future
configparser
