# Pip requirements file
# jira_to_json.py
jira
# git_to_json.py
gitpython
# history_to_json.py
requests
# metric_options_to_json.py
python-dateutil
mock
# hqlib: Use latest version for python 2.7 until data gathering is updated
quality_report==1.79.3
svn
# gitlab_to_json.py
-e git+http://github.com/lhelwerd/python-gitlab3.git@commit-comments#egg=gitlab3
