[jira]
server = $JIRA_SERVER
username = $JIRA_USER
password = $JIRA_PASSWORD
[definitions]
source_type = $DEFINITIONS_TYPE
name = $DEFINITIONS_NAME
url = $DEFINITIONS_URL
path = $DEFINITIONS_PATH
base = $DEFINITONS_BASE
base_url = $DEFINITONS_BASE_URL
required_paths = $DEFINITIONS_REQUIRED_PATHS
[history]
url = $HISTORY_URL
path = $HISTORY_PATH
[gitlab]
url = $GITLAB_URL
token = $GITLAB_TOKEN
[dropins]
type = $DROPINS_STORE
url = $DROPINS_URL
username = $DROPINS_USER
password = $DROPINS_PASSWORD
[database]
username = $MONETDB_USER
password = $MONETDB_PASSWORD
host = $MONETDB_HOST
name = $MONETDB_NAME
[ssh]
username = $SSH_USERNAME
host = $SSH_HOST
cert = $SSH_HTTPS_CERT
[importer]
url = $IMPORTER_URL
[bigboat]
host = $BIGBOAT_HOST
key = $BIGBOAT_KEY
[jenkins]
host = $JENKINS_HOST
scrape = $JENKINS_JOB
crumb = $JENKINS_CRUMB
token = $JENKINS_TOKEN
[projects]
$JIRA_KEY = $PROJECT_NAME
[subprojects]
$SUBPROJECT_KEY = $JIRA_KEY
