[jira]
server = $JIRA_SERVER
username = $JIRA_USER
password = $JIRA_PASSWORD
[definitions]
source_type = $DEFINITIONS_TYPE
name = $DEFINITIONS_NAME
url = $DEFINITIONS_URL
path = $DEFINITIONS_PATH
base = $DEFINITIONS_BASE
base_url = $DEFINITIONS_BASE_URL
required_paths = $DEFINITIONS_REQUIRED_PATHS
[history]
url = $HISTORY_URL
path = $HISTORY_PATH
compression = $HISTORY_COMPRESSION
filename = $HISTORY_FILENAME
delete = $HISTORY_DELETE
[metrics]
url = $METRICS_URL
host = $METRICS_HOST
[gitlab]
url = $GITLAB_URL
repo = $GITLAB_REPO
token = $GITLAB_TOKEN
user = $GITLAB_USER
level = $GITLAB_LEVEL
[dropins]
type = $DROPINS_STORE
url = $DROPINS_URL
username = $DROPINS_USER
password = $DROPINS_PASSWORD
[database]
username = $MONETDB_USER
password = $MONETDB_PASSWORD
host = $MONETDB_HOST
name = $MONETDB_NAME
[ssh]
username = $SSH_USERNAME
host = $SSH_HOST
cert = $SSH_HTTPS_CERT
[importer]
url = $IMPORTER_URL
job = $IMPORTER_JOB
branch = $IMPORTER_BRANCH
artifact = $IMPORTER_ARTIFACT
[bigboat]
host = $BIGBOAT_HOST
key = $BIGBOAT_KEY
[jenkins]
host = $JENKINS_HOST
username = $JENKINS_USERNAME
password = $JENKINS_PASSWORD
verify = $JENKINS_VERIFY
scrape = $JENKINS_JOB
token = $JENKINS_TOKEN
[sonar]
host = $SONAR_HOST
username = $SONAR_USERNAME
password = $SONAR_PASSWORD
verify = $SONAR_VERIFY
[schedule]
days = $SCHEDULE_DAYS
drift = $SCHEDULE_DRIFT
[ldap]
server = $LDAP_SERVER
root_dn = $LDAP_ROOT_DN
search_filter = $LDAP_SEARCH_FILTER
manager_dn = $LDAP_MANAGER_DN
manager_password = $LDAP_MANAGER_PASSWORD
group_dn = $LDAP_GROUP_DN
group_attr = $LDAP_GROUP_ATTR
display_name = $LDAP_DISPLAY_NAME
[deploy]
auth = $DEPLOYER_AUTH
[projects]
$JIRA_KEY = $PROJECT_NAME
[subprojects]
$SUBPROJECT_KEY = $JIRA_KEY
[teams]
$JIRA_KEY = $TEAM_NAME
[support]
$JIRA_KEY = $SUPPORT_TEAM
[network]
$JIRA_KEY = $CONTROLLER_NETWORK
