[Unit]
Description=GROS agent controller daemon
After=network.target
Requires=pyro-ns.service

[Service]
ExecStart=/bin/python /usr/local/bin/controller-daemon.py
Type=simple
User=controller
Group=controller
Environment=PYRO_LOGLEVEL=INFO PYRO_LOGFILE={stderr}
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
