[Unit]
Description=Pyro4 object nameserver daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/virtualenv.sh /usr/local/envs/controller -m Pyro4.naming
Type=simple
User=pyro-ns
Group=pyro-ns
Environment=PYRO_LOGLEVEL=INFO PYRO_LOGFILE='{stderr}'
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
